---
http_interactions:
- request:
    method: get
    uri: https://dev.claim-crown-court-defence.service.justice.gov.uk/ping.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"afcb64ec14bb9cac6a406938b3eb5a11"
    body:
      encoding: UTF-8
      string: '{"version_number":"NOT USED ANYMORE","build_date":"2019-11-18T17:02:17+0000","commit_id":"38851ee3eea3bb39e98afeccda8aaf3e0bd7bbce","build_tag":"admin-38851ee3eea3bb39e98afeccda8aaf3e0bd7bbce","app_branch":"master"}'
  recorded_at: Tue, 19 Nov 2019 15:37:14 GMT
recorded_with: VCR 5.0.0
