---
http_interactions:
- request:
    method: get
    uri: https://dev.claim-crown-court-defence.service.justice.gov.uk/ping.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8fadc30cb8bbcb498f747170807f37ff"
    body:
      encoding: UTF-8
      string: '{"version_number":"NOT USED ANYMORE","build_date":"2019-11-24T21:19:51+0000","commit_id":"52a51b799619b6a671387c81619d1fcfa347ac6b","build_tag":"app-52a51b799619b6a671387c81619d1fcfa347ac6b","app_branch":"master"}'
  recorded_at: Mon, 25 Nov 2019 13:29:58 GMT
recorded_with: VCR 5.0.0
